body {
  background-color: rgb(172, 223, 230);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wellcome{
  margin-top: 20px;;
  text-align: center;
  padding:  20px 20px;
  background-color: darkcyan;
  color: aquamarine;
  border-radius: 20px;
  width: 800px;

}
span{
  color: coral;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.heading2{
  text-align: center;
  color: cornflowerblue;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: bold;
}

.image{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image img {
  width: 200px;
  height: 300px;
  margin-left: 10px;
  border: darkgreen;
  border: 10px;
}